@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body {
  margin: 0;
  font-family: Patrick Hand;
  font-style: normal;
  /* background: linear-gradient(280.67deg, #FFFFFF 39.65%, rgba(255, 255, 255, 0) 87.46%), #C9E2FF; */
  background: #1E202B;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  margin: 0 auto;
  padding: 20px 0;
  margin-bottom: 30px;
}

.logo {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.logo img {
  width: 8%;
  margin-right: 10px;
}

.logo h2 {
  font-family: Patrick Hand;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  line-height: 68px;
  color: #fff;
  margin: 0;
  margin-bottom: 20px;
}

header form {
  width: 45%;
}

header form div {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  background: #323544;
  border-radius: 40px;
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.068));
  padding: 16px;
}

header form svg {
  width: 20px;
  height: 20px;
  margin-left: 11px;
  fill: #ffffff88;
}

header form input[type="search"] {
  width: 100%;
  padding: 0 8px;
  border: none;
  background: none;
  font-size: 16px;
  text-transform: capitalize;
  margin-right: 11 px;
  color: #fff;
}

header form input[type="search"]::placeholder {
  font-size: 16px;
  color: #ffffff88;
}

header form input[type="search"]:focus {
  outline: none;
}

main {
  width: 90%;
  margin: 0 auto;
  display: none;
}

main div.current-location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-weather-details {
  /* margin-right: 50px; */
  width: 50%;
  background: #323544;
  padding: 20px;
  border-radius: 30px;
}

.current-weather-details img {
  width: 100%;
}

.current-weather-details>div, .current-weather-details>div>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-weather-details>div>div {
  flex-direction: column;
}

.current-weather-details>div>div span {
  font-family: Patrick Hand;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
  color: #fff;
  /* color: #000000; */
}

.current-weather-details .vr {
  border-left: 4px solid #fff;
  height: 18vh;
  margin: 0 25px;
}

.current-weather-details .weather-degree {
  font-family: Patrick Hand;
  font-style: normal;
  font-weight: normal;
  font-size: 150px;
  line-height: 203px;
  color: #fff;
  /* color: #000000; */
}

.current-weather-details h3 {
  font-family: Patrick Hand;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  text-align: right;
  line-height: 54px;
  text-transform: uppercase;
  /* color: #000000; */
  color: #fff;
  margin: 0;
}

.current-weather-details h4 {
  font-family: Patrick Hand;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
  text-align: right;
  color: #fff;
  /* color: #000000; */
  margin: 0;
}

.not-found {
  display: none;
  font-size: 50px;
}

.forecast-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 20px;
  margin-bottom: 30px;
}

.forecast {
  display: flex;
  margin-top: 35px;
  color: #fff;
}

.forecast>div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: #323544;
  border-radius: 20px;
}

.forecast>div>div {
  display: flex;
  align-items: center;
}

.forecast>div>div>div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast .weather-degree {
  font-size: 30px;
}

.forecast h3 {
  font-size: 18px;
  margin: 10px 0 0;
}

.forecast img {
  width: 45%;
}

.forecast .vr {
  border-left: 1px solid #fff;
  height: 5vh;
  margin-right: 15px;
}

.valid-location-error {
  height: 50vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 55px;
  color: #fff;
  background: #323544;
  border-radius: 20px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #323544;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1800ms linear infinite;
  /* Safari */
  animation: spin 1000ms linear infinite;
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {
  .location-image {
    width: 250px;
    height: 250px;
  }
  .forecast-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 780px) {
  .current-weather-details .weather-degree {
    font-size: 100px;
    line-height: 120px;
  }
  .current-weather-details h3 {
    font-size: 25px;
    line-height: 20px;
    margin-top: 20px;
  }
  .current-weather-details h4 {
    font-size: 15px;
    line-height: 24px;
  }
  .forecast h3 {
    margin: 15px 0 0;
  }
}

@media screen and (max-width: 768px) {
  main div.current-location {
    flex-direction: column-reverse;
  }
  .current-weather-details {
    width: 70%;
  }
  header form {
    width: 70%;
  }
  header form div {
    width: 90%
  }
  .location-image {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 425px) {
  .logo img {
    width: 15%;
  }
  header form, header form div {
    width: 90%;
  }
  .current-weather-details {
    width: 90%;
  }
  .current-weather-details .weather-degree {
    font-size: 70px;
    line-height: 80px;
  }
  .forecast-section {
    grid-template-columns: repeat(2, 1fr);
  }
  .forecast>div>div {
    flex-direction: column-reverse;
  }
  .forecast>div>div>div {
    width: 100%;
  }
  .forecast .vr {
    display: none;
  }

  .forecast h3 {
    margin-top: 10px;
  }
}